In [3]:
print("hello");

hello

In [6]:
print (2+2)
print (2-2)
print (2*2)
print (2/2)

4
0
4
1.0

In [7]:
string = "i am a string" #string means text
print(string)

i am a string

In [1]:
#concentation - adding strings together
partone = "part"
parttwo = "2"
print (partone+parttwo)

part2

In [11]:
#list
list = [1,2,3,4,5]
print(list[0])

1

In [12]:
#append means to put a value at the back of the list
list.append("EC")
print(list)

[1, 2, 3, 4, 5, 'EC']

In [13]:
#mutability 
list[0] = "11"
print(list)

['11', 2, 3, 4, 5, 'EC']

In [15]:
#dictionaries - associated by their key:value pair
dictionary = {
    "floor_area_sqm": 64,
    "resale_price": 450000
}
print(dictionary)

#query dictionaries by key
print(dictionary["floor_area_sqm"])

{'floor_area_sqm': 64, 'resale_price': 450000}
64

In [2]:
table = [
    {"town":"Yishun", "flat_type":"3 ROOM", "resale_price":400000},
    {"town":"Chua Chu Kang", "flat_type":"4 ROOM", "resale_price":450000},
    {"town":"Jurong West", "flat_type":"5 ROOM", "resale_price":500000},
]
print(table)
print(table[2]["resale_price"])

[{'town': 'Yishun', 'flat_type': '3 ROOM', 'resale_price': 400000}, {'town': 'Chua Chu Kang', 'flat_type': '4 ROOM', 'resale_price': 450000}, {'town': 'Jurong West', 'flat_type': '5 ROOM', 'resale_price': 500000}]
500000