In [2]:
import json

with open('data/yelpThaiFood.json') as file:
    thailist = json.load(file)

list_of_thai_res = []

for x in thailist:
    if ((x["rating"] > 3.5) & (x['distance'] < 1000)) :
        list_of_thai_res.append({"name":x["name"], "rating":x["rating"]})

print (list_of_thai_res)

[{'name': 'Doi Chaang', 'rating': 4.0}]

In [7]:
import pandas as pd

thai_df = pd.DataFrame(thailist)

thai_df.loc[(thai_df['rating']>3.5) & (thai_df['distance']<1000)]

                         id                   alias  ...  display_phone    distance
124  43pW_bvR9yGU51wDN0gvqw  doi-chaang-singapore-3  ...  +65 9836 7114  676.541847

[1 rows x 16 columns]